.Header{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header-item{
  font-size: 20px;
  color: rgb(22, 97, 133);
  cursor: pointer;
  margin-right: 1000px;
}
.Header-item:hover{
  color: rgb(9, 135, 192);
}
.logo{
  margin-left: 610px;
}
.logo img{
  width: 70px;
  height: 50px;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}